<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header d-flex flex-column gap-2 p-2">
                        <div>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#newModal" data-bs-backdrop="false"
                            (click)="onNew()" class="btn btn-success">New +</button>
                        </div>
                        <div class="form-group">
                            <div class="input-group padding-top">
                                <div class="input-group-text">
                                  <i class="bi bi-search"></i>
                                </div>
                                <input type="text" class="form-control" name="searchString"
                                    placeholder="Type to search..." [(ngModel)]="searchString"
                                    (input)="handleSearch($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let column of tableColumns">{{ column }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableRows | async let i = index">
                                    <td>{{row.id}}</td>
                                    <td>{{row.firstName}}</td>
                                    <td>{{row.lastName}}</td>
                                    <td>{{row.email}}</td>
                                    <td>
                                        <button type="button" data-bs-toggle="modal" data-bs-target="#newModal"
                                            (click)="onUpdate(row)" data-bs-backdrop="false"
                                            class="btn btn-info">
                                            Edit <i class="bi bi-pencil"></i>
                                        </button>
                                        </td>
                                    <td>
                                        <button type="button" data-bs-toggle="modal" data-bs-target="#rentingModal"
                                            (click)="onRenting(row.id)" data-bs-backdrop="false" [disabled]="!(resources | async)?.length"
                                            class="btn btn-secondary">
                                            Renting <i class="bi bi-file-earmark-font"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" data-bs-toggle="modal" data-bs-target="#returnModal"
                                            (click)="onReturn(row.id)" data-bs-backdrop="false"
                                            class="btn btn-warning">
                                            Return <i class="bi bi-arrow-counterclockwise"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="newModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                </div>

                <div class="modal-body">
                    <form novalidate [formGroup]="clientForm">
                        <div class="row gy-2">
                            <div class="form-group col-xs-12">
                                <label for="firstName">First Name:</label>
                                <input type="text" formControlName="firstName" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group col-xs-12">
                                <label for="lastName">Last Name:</label>
                                <input type="text" formControlName="lastName" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group col-xs-12">
                                <label for="Email">Email:</label>
                                <input type="text" formControlName="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="submitClientModal()"
                        data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="rentingModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Renting</h4>
                </div>

                <div class="modal-body">
                    <form novalidate [formGroup]="rentingGroup">
                        <div class="row gy-2">
                            <div class="form-group col-xs-12">
                                <label>Resource:</label>
                                <select formControlName="resourceId" class="form-control">
                                    <option *ngFor="let resource of resources | async; let i = index;" async
                                        [value]="resource.id" [selected]="i === 0">
                                        {{resource.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12">
                                <label>Date:</label>
                                <input type="date" formControlName="registrationDate" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="submitRentingModal()"
                        data-bs-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="returnModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Return</h4>
                </div>

                <div class="modal-body">
                    <div class="row gy-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Resource
                                                </th>
                                                <th>
                                                    Registration Date
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let row of rentingList | async">
                                                <td>{{row.resourceName}}</td>
                                                <td>{{row.registrationDate | date}}</td>
                                                <td>
                                                    <button type="button" data-bs-toggle="modal"
                                                        data-bs-target="#dateModal" (click)="onReturnDate(row.id,date)"
                                                        data-bs-backdrop="false" class="btn btn-info"
                                                        data-bs-dismiss="modal">
                                                        Return <i class="bi bi-arrow-counterclockwise"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="dateModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Select Return Date</h4>
                </div>

                <div class="modal-body">
                    <div class="row gy-2">
                        <div class="form-group col-xs-12">
                            <label>Date:</label>
                            <input type="date" [(ngModel)]="date" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="returnSpecificResource()" data-bs-dismiss="modal" [disabled]="!date">Ok</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>